@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #3A3735;
    background-image: radial-gradient(ellipse farthest-corner at 10px 10px, #333333, #333333 50%, #3A3735 50%);
    background-size: 10px 10px;
}

/* front page */
.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100vw;
    height: 100vh;
}

.mainTitle {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 500%;
    line-height: 112px;

    text-align: center;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #dee5ffbc;
}

.mainButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.createSession {
    width: 300px;
    height: 75px;

    background: #FBEAEB;


    border: 2px solid #404b7f79;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.35);
    border-radius: 31px;

    /* text */
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;

    color: #404b7f79;
}

.createSession:hover {
    border: 3px solid #2F3C7E;
    color: #2F3C7E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.joinSession {
    width: 260px;
    height: 75px;

    background: #FBEAEB;

    border: 2px solid #404b7f79;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.35);
    border-radius: 31px;

    /* text */
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;

    color: #404b7f79;
}

.joinSession:hover {
    border: 3px solid #2F3C7E;
    color: #2F3C7E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

/* join session */
.joinForm {
    display: flex;
    flex-direction: column;
}

/* user view */

/* nav bar */
.userViewNav {
    display: flex;
    justify-content: space-between;

    width: 100vw;
    height: 40px;
    background: #262423;
}

.detailDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100vw - 300px);
    padding: 15px;
    align-items: center;
    box-sizing: border-box;
}

.detailDisplay section {
    display: flex;
    gap: 40px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30px;
    width: fit-content;
    background: #FBEAEB;
    border-radius: 3px;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
}

.notifications {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 300px;
    background: rgba(78, 78, 78, 0.67);
    color: #FBEAEB;
    text-align: center;
}

/* content body */
.userBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userContentBody {
    width: calc(100vw - 380px);
    height: calc(100vh - 120px);
    margin: 40px;
    background-color: #2f3c7e1d;
}

.notificationBody {
    width: 300px;
    height: calc(100vh - 40px);
    background: rgba(255, 255, 255, 0.08);
}

.navigationButtons {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.userMessageBody {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height: 500px;
    overflow: scroll;
    background: rgba(255, 255, 255, 0.308);
}

.enterMessage {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    padding: 30px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 3px;
    background-color: #FBEAEB;
}

.splitMessage {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border-radius: 3px;
    background-color: #FBEAEB;
    padding: 30px;
    box-sizing: border-box;
}

.splitMessageInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.packageMessage {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #FBEAEB;

    display: flex;
    flex-direction: column;
}

.allPackets {
    display: flex;
    gap: 30px;
    width: fit-content;
    overflow: scroll;
}

.packet {
    background: #FFFFFF;
    width: 450px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 3px;
}

.packet .packetHeaderSection {
    display: flex;
    flex-direction: row;
    align-items: center;
}

